/* src/material-theme.css */

/* Базовые кастомизации */
body {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f5f5f5;
}

.mat-button, .mat-raised-button {
  text-transform: none;
}

.mat-primary {
  background-color: #3f51b5;
  color: white;
}

.mat-accent {
  background-color: #e91e63;
  color: white;
}
